# {{ project_name }}
[add a description for your project here]

## Install requirements
```
. venv/bin/activate
pip install -r requirements.txt
```

## Unit test execution
```
. venv/bin/activate
pytest
```

## Test coverage
```
. venv/bin/activate
pytest test --cov=app -vvv
```
