#!/usr/bin/env python

from distutils.core import setup

setup(
    name='{{ camel_case(project_name, separator=' ') }}',
    version='0.1',
    description='',
    author='{{ author }}',
    author_email='{{ author_email }}',
    packages=['app'],
)
