from app.{{ project_name }} import {{ camel_case(project_name) }}

class {{ camel_case(project_name) }}Test:
    def test_{{ project_name }}_is_set_up(self):
        # given
        {{ project_name }} = {{ camel_case(project_name) }}()

        # when
        greetings = {{ project_name }}.say_hello()

        # then
        assert greetings == 'hello'
